# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:https://www.kaggle.com/datasets/mohamedharris/supermart-grocery-sales-retail-analytics-dataset/data

Import the necessary libraries and create your dataframe(s).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Create the dataframe
df = pd.read_csv('dataset/supermart-sales.csv')
df.info()
df.head()
#df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Category       9994 non-null   object
 3   Sub Category   9994 non-null   object
 4   City           9994 non-null   object
 5   Order Date     9994 non-null   object
 6   Region         9994 non-null   object
 7   Sales          9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Profit         9994 non-null   float64
 10  State          9994 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 859.0+ KB

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45,Tamil Nadu

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [2]:
# Try to find some missing data with isna() function!
df.isna().sum()
# No missing data in the dataset

Order ID         0
Customer Name    0
Category         0
Sub Category     0
City             0
Order Date       0
Region           0
Sales            0
Discount         0
Profit           0
State            0
dtype: int64

In [3]:
# Finding missing data percentage which is more easy to read!
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
# There is no missing data

Order ID - 0%
Customer Name - 0%
Category - 0%
Sub Category - 0%
City - 0%
Order Date - 0%
Region - 0%
Sales - 0%
Discount - 0%
Profit - 0%
State - 0%

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [4]:
# Check for duplicate rows
print(df.duplicated().sum())

0

In [5]:
# Identify outliers using Interquartile Range (IQR)
#Q1 = df.quantile(0.25)
#Q3 = df.quantile(0.75)
#IQR = Q3 - Q1

# Select only numeric columns
numeric_df = df.select_dtypes(include=['number'])

Q1 = numeric_df.quantile(0.25)
print(Q1)
print('############')
Q3 = numeric_df.quantile(0.75)
print(Q3)
print('############')
IQR = Q3 - Q1
print(IQR)
print('############')
print( (Q1 - 1.5 * IQR))
print( (Q3 + 1.5 * IQR))

outliers = ((numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR)))
print(numeric_df[outliers.any(axis=1)])  # Display rows with outliers

# ignoring the results since outliers didnt skewed the data much

Sales       1000.0000
Discount       0.1600
Profit       180.0225
Name: 0.25, dtype: float64
############
Sales       1994.7500
Discount       0.2900
Profit       525.6275
Name: 0.75, dtype: float64
############
Sales       994.750
Discount      0.130
Profit      345.605
dtype: float64
############
Sales      -492.125
Discount     -0.035
Profit     -338.385
dtype: float64
Sales       3486.875
Discount       0.485
Profit      1044.035
dtype: float64
      Sales  Discount   Profit
1115   2439      0.30  1097.55
1299   2413      0.18  1085.85
1304   2432      0.34  1094.40
1767   2395      0.22  1053.80
1807   2429      0.11  1093.05
1897   2341      0.19  1053.45
1998   2399      0.12  1079.55
2535   2323      0.31  1045.35
2714   2460      0.24  1082.40
2836   2439      0.25  1073.16
3001   2367      0.15  1065.15
3144   2478      0.13  1090.32
3159   2491      0.26  1120.95
3243   2471      0.26  1087.24
3251   2433      0.35  1046.19
3436   2469      0.29  1111.05
3437   2372      0.20  1067.40
3467   2490      0.24  1120.50
3704   2433      0.24  1046.19
3711   2386      0.29  1073.70
4177   2427      0.14  1067.88
4292   2461      0.27  1058.23
4316   2472      0.12  1062.96
4789   2352      0.25  1058.40
4943   2434      0.29  1095.30
4965   2465      0.19  1084.60
5044   2395      0.28  1053.80
5087   2325      0.12  1046.25
5413   2412      0.17  1061.28
5647   2416      0.27  1087.20
5737   2351      0.16  1057.95
5856   2450      0.14  1053.50
6893   2446      0.24  1051.78
7303   2380      0.30  1071.00
8063   2402      0.16  1056.88
8134   2452      0.18  1103.40
8743   2445      0.30  1051.35
9624   2442      0.21  1050.06
9702   2412      0.25  1085.40
9782   2450      0.21  1102.50
9802   2350      0.24  1057.50
9865   2448      0.17  1052.64
9911   2447      0.14  1052.21

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [6]:
# State column is not neccessary since all of the sales are from State 'Tamilnadu' so i want to drop the column State
df.drop(columns='State',inplace=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Customer Name  9994 non-null   object
 2   Category       9994 non-null   object
 3   Sub Category   9994 non-null   object
 4   City           9994 non-null   object
 5   Order Date     9994 non-null   object
 6   Region         9994 non-null   object
 7   Sales          9994 non-null   int64
 8   Discount       9994 non-null   float64
 9   Profit         9994 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 780.9+ KB

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254,0.12,401.28
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749,0.18,149.80
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360,0.21,165.20
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896,0.25,89.60
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355,0.26,918.45

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [7]:
print(df['Region'].unique())
# Order date column has date with different format like  '/' and '-' (inconsistant data) 
print(df['Order Date'].dtype)  # Check data type
#print(df['Order Date'].astype(str).str.extract(r'(\d{2}-\d{2}-\d{4}|\d{2}/\d{2}/\d{4})')[0].value_counts())
# Replacing '/' to '-' format
df['Order Date'] = df['Order Date'].str.replace('/', '-', regex=False)
print(df['Order Date'])

# Export the cleaned data set to CSV
df.to_csv('dataset/supermart-sales-clean.csv', index=False)

['North' 'South' 'West' 'Central' 'East']
object
0       11-08-2017
1       11-08-2017
2       06-12-2017
3       10-11-2016
4       10-11-2016
           ...
9989    12-24-2015
9990    07-12-2015
9991    06-06-2017
9992    10-16-2018
9993     4-17-2018
Name: Order Date, Length: 9994, dtype: object

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?  No , the dataset doesn't have missing and irregular data,but found inconsistant and unnecessary data.
2. Did the process of cleaning your data give you new insights into your dataset?yes, while cleaning i found inconsistant format in Order Date column.
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?